html, body{
	width: 100vw;
    height: 80vh;
	color:white;
	background-color:rgb(102, 0, 0);
	font-family: 'Raleway', sans-serif;
	overflow:auto;

}

.style{
	padding-left: 470px;
	color: #b3b3b3;
}

.sec{
	border: 3px solid #b3b3b3;
	margin-top: 75px;
	cursor: pointer;
	padding-left: 1mm;

}

a img{
	padding-top: 60px;
	padding-bottom: 10px;
	margin-left: 15.14cm;
	transform: 0.5s;
    width: 35px;
    cursor: pointer;
}

.footer{
	text-align: center;
	padding-top: 100px;
}
