html,body{
	display: flex;
    color: white;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    background-color:   rgb(102, 0, 0);
}

.flow{
	display: inline-flex;
    margin: auto;
}

.flow li{
	display: inline-flex;
    position: absolute; 
    transform: translate(-87px, 90px); /* Colocar em uma variÃ¡vel  (e.g $icon-pos) */
    flex-direction: row;
    list-style: ;
    cursor: pointer;
}

.flow img{
	transform: 0.5s;
    width: 45px;

}
.row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }